<!DOCTYPE html>
<html ng-app>
<head>
	<title>MEAN STACK - treinamento Alura</title>
</head>
<body ng-controller="MusicController">
	<h1>Bem vindo ao treinamento de MEAN STACK da plataforma Alura</h1>

	<pre>{{musics}}</pre>

	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/MusicController.js"></script>
</body>
</html>